*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgpa(0,0,0,0.1);
}
nav ul{
     width: 100%;
     list-style: none;
     display: flex ;
     justify-content: flex-end;
     align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: 18px;
    
}
nav a:hover{
    color: blue;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgpa(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;;
}
.sidebar a{
    width: 100%;
}
.menu-btn{
    display: none;
}


/* banner */
.banner{
    display: flex;
    height: 600px;
    /* background-color: green; */
   position: relative; 
}
.banitem{
    text-align: center;
    position: absolute;
    align-items: center;
    top: 40%;
    left: 15%;
    
}
.lg{
    height: 120px;
}
.banimg{
    position: absolute;
    right: 0;
    height: 500px;
    top: 10%;
}





















































@media(max-width:800px){
    .hideOnMobile{
        display: none;
    }
    .menu-btn{
        display: block;
    }
 
    .banner{
    
        height: 100vh;
        flex-direction: column;
    
    }
    .banitem{
   
        top: 10%;
        left: 20%;
        
    }
    .lg{
        height: 90px;
    }
    .banimg{
        position: absolute;
        right: 0;
        height: 300px;
        top: 40%;
    }

}
@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}